.App {
  padding: 50px 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Alert {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 120px;
}

.App__intro {
  margin-bottom: 30px;
  max-width: 600px;
  text-align: center;
}

.App__form {
  margin-bottom: 20px;
}

.App__code {
  margin-bottom: 30px;
}

.App__actions {
  display: flex;
  justify-content: center;
}

.App__sample {
  width: 100%;
}

.App__columns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 40px);
}

.App__column {
  min-height: 150px;
  background-color: var(--bgColor, #e2a6e5);
  overflow: hidden;
  border-radius: 10px;
}

.Form__group {
  margin-bottom: 10px;
}

.Form__spaced {
  display: flex;
  justify-content: space-between;
}

.Form__inputNumber {
  width: 80px;
}

.Form__buttonMain {
  width: 100%;
}

.Form__inputLabelled {
  margin-left: 10px;
}
